body
{
	background: url(https://images7.alphacoders.com/313/thumb-1920-313883.jpg);
	background-size: cover;
	background-position: center;
}
html
{
	height: 100%;
}
hr
{
	text-align:center;
	width: 80%;
	color: white;
}
h1
{
	text-align: center;
	font-family: Dancing script;
	color: white;
}
#container
{
	width: 50%;
	border :2px solid white;
	margin: 5px auto;
}
#emoji
{
	margin-left: 10%;

}
#emot1,#emot2,#emot4,#emot3
{
	width: 10%;
	height: 10%;
	background-color: transparent;
	border-width: 0;
}
#emot1:hover
{
 
 border-bottom: 2px solid white;
}
#emot2:hover
{
	border-bottom: 2px solid white;	
}
#emot3:hover
{
 border-bottom: 2px solid white;
}
#emot4:hover
{
	border-bottom: 2px solid white;
}
h3
{
	color: white;
	font-family: lato;
	margin-left: 10%
}
input
{
	margin-left: 10%;
	padding-right: 25%;
	padding-bottom: 8px;
	max-width: 800px;
}
img
{
	width: 100%;
	height: 100%;
}
span : hover
{
	background-color: white;
}
textarea
{
	width: 50%;
	margin-left: 10%;
	height: 50px;
}
#submit
{
	border-width:0.9px; 
	color: white;
	margin-left: 10%;
	margin-top: 7%;
	margin-bottom: 5%;
	padding: 10px;
	border-radius:17%;
	background-color: transparent;

}
#submit:hover
{
	background-color: #040e59;
	font-weight: bold;
}